@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
:root {
    --main-background-color: #1a99d4;
}

html {
    background-image: url("./subnauticaBackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    font-family: 'Days One', sans-serif;
}

.logo {
    background: no-repeat left/7.5rem linear-gradient(#ee7f01,#f8d876),
            no-repeat 7.5rem/14rem linear-gradient(#85c5e2,#d7e8f6);
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    -webkit-text-stroke: 0.3px black;
}

header {
    background-color: #1a99d4d3;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    position: sticky;
}

header h1 {
    margin: 0;
    margin-right: 60px;

    min-width: 22rem;
}

nav {
    flex: 1;

    display: flex;
    justify-content: flex-end;
    gap: 50px;
}

nav button {
    flex: 1;
    max-width: 250px;

    color: white;
    background:  radial-gradient(#064b8b,var(--main-background-color));

    border-radius: 10px;
    border: 2px solid #4ab4e6;
}

nav button:hover {
    border: 2px solid #ffe868;
}

nav button:active,
nav button.active {
    background:  radial-gradient(#e09200,#ffe868);
}

main {
    display: grid;
    place-items: center;
}

#content {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

#content h2 {
    text-align: center;
}

#content .home.page {
    padding: 0 20px 20px;

    max-width: min(70%,1000px);

    border-radius: 20px;

    background-color: #1a99d4d3;
}

#content .gallery{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: max-content;
    gap: 10px;
}

#content img {
    width: 100%;
    height: auto;
    /*background: center / contain no-repeat ;*/

    border-radius: 10px;
    border: 2px solid #06cbeef1;
}

#content .menu.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content .menu.page h2 {
    padding: 5px 10px;

    width: max-content;

    background: radial-gradient(#064b8b,var(--main-background-color));
    border-radius: 5px;
    border: 2px solid #4ab4e6;
}

#content .dish {
    padding: 10px 30px 10px 10px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: max-content;
    gap: 10px 20px;
    grid-template-areas: 
    "title title"
    "photo description"
    ". price";

    background: center/cover radial-gradient(#064b8b,var(--main-background-color));

    border-radius: 10px;
    border: 2px solid #4ab4e6;
}

#content .dish h3 {
    margin: 0;
}

#content .dishes {
    margin: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    place-items: center;
    place-content: center;
}

#content .contact.page {
    padding: 0 20px 20px;

    max-width: min(50%,1000px);

    border-radius: 20px;

    background-color: #1a99d4d3;
}